<div>
    <h1 class="text-center">{{title}}</h1>
    <div class="container">
        <div class="row">
            {{#each carts}}
            <div class="col-md-4">
                <div class="card text-center m-5">
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <p>stock: {{this.quantity}}</p>
                        <p class="card-text fw-bold">$ {{this.price}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>